body {
    font-family: 'Anton', sans-serif;
    min-width: 350px;
    min-height: 350px;
    margin: 0;
    padding: 0;
}

.contenedor-nav {
    margin: 0 auto;
}

.nav {
    background-color:midnightblue;
    text-align: center;
}

.nombre-empresa {
    font-weight: 300;
    text-decoration: none;
    color: white !important;
    font-size: 3rem;
    font-family: 'Anton', sans-serif;
}

.nombre-empresa:hover {
    color: white !important;
}

p {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 15px;
    text-align: center;
}

select {
    margin-bottom: 10px;
    padding: 0.5em;
}

.contenedor-todo {
    margin: 0 20px 20px 20px;
}

.form1 {
    display: flex;
    flex-direction: column;
}

.div {
    display: flex;
    flex-direction: column;
}

.div div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form1 input {
    margin-bottom: 10px;
    padding: 0.5em;
    border: 1px solid black;
}

.div input {
    margin-bottom: 10px;
    padding: 0.5em;
    border: 1px solid black;
    width: 100%;
}

.contenedor-tabla {
    overflow: scroll;
}

.contenedor-tabla table {
    width: 100%;
}

th, td {
    text-align: center;
}


@media screen and (min-width:1200px) {

    body {
        margin: 0 auto;
        min-height: 100%;
        padding-bottom: 2px;
    }

    .contenedor-tabla {
        overflow: visible;
    }

    html {
        height: 100%;
    }
}