html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

.contenedor-nav {
    margin: 0 auto;
}

.nav {
    background-color:midnightblue;
    text-align: center;
}

.nombre-empresa {
    font-weight: 300;
    text-decoration: none;
    color: white;
    font-size: 3rem;
    font-family: 'Anton', sans-serif;
}

.nombre-empresa:hover {
    color: white !important;
}

.contenedor-error {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    padding: 0;
}

h1 {
    width: 80%;
    margin: 2em auto 1em auto !important;
}

.mensaje {
    font-size: 1.5rem;
    font-weight: bold;
}